<div class="container my-5" *ngIf="movieDetails" >
  <div class="row">
    <div class="col-md-4">
       <img  [src]="'https://image.tmdb.org/t/p/w500' + movieDetails.poster_path"  
       [alt]="movieDetails.title"
       class="img-fluid rounded"
       >
    </div>
    
    <div class="col-md-5">
      <h2>{{movieDetails.title}}</h2>
      <p> <strong> Relase Date:</strong> {{movieDetails.release_date}}</p>
      <P><strong> Overview:</strong></P>
      <p>{{movieDetails.overview}}</p>
    
       <button class="btn btn-danger bt-3" (click)="goBackToList()"> Back to List</button>
 
    </div>
  </div>
</div>